{% extends "base.html" %}

{% block content %}
    <h1 class="mb-4 text-center">Game Over</h1>
    <h2 class="mb-4 text-center">Score: {{ score }}</h2>
    <div class="text-center mb-4">
        <a href="{% url 'game:start' %}" class="btn btn-primary">Jogue de novo</a>
    </div>
    <h2 class="text-center">Ranking Mestres dos Monstros</h2>
    <div class="leaderboard-container">
        <div class="leaderboard">
            <h2>Overall</h2>
            <ol>
                {% for entry in overall_leaderboard %}
                    <li><span>{{ entry.player_name }}</span><span>{{ entry.score }}</span></li>
                {% endfor %}
            </ol>
        </div>
    
        <div class="leaderboard">
            <h2>Monthly</h2>
            <ol>
                {% for entry in monthly_leaderboard %}
                    <li><span>{{ entry.player_name }}</span><span>{{ entry.score }}</span></li>
                {% endfor %}
            </ol>
        </div>
    
        <div class="leaderboard">
            <h2>Weekly</h2>
            <ol>
                {% for entry in weekly_leaderboard %}
                    <li><span>{{ entry.player_name }}</span><span>{{ entry.score }}</span></li>
                {% endfor %}
            </ol>
        </div>
    </div>
    
    <footer class="text-center mt-4">
        <p>Desenvolvido por Rejected [OptionalRO/CrockRO/TownRO/Advgames/Ragalera/(...)] ou Johny Junqueira</p>
    </footer>
{% endblock %}
